*{
    margin: 0;
    box-sizing: border-box;
}
#counter{
    background-color: aqua;
    height: 150px;
    display:flex;
    align-items: center;
    font-size: 100px;
    justify-content: center;
}
#juego{
    height: calc(100vh - 150px);
    background-color: grey;
}
